/* skip menu */
#skip{
  position: relative;
}
#skip a{
  display: block;
  width: 300px;
  position: absolute;
  top: -45px;
  left: 0;
  border: 1px solid #fff;
  background-color: var(--main-blackColor);
  line-height: 30px;
  text-align: center;
  color: #fff;
}
#skip a:active, #skip a:focus{
  top: 0;
}
/* layout */
header{
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
}
header .top-header{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--main-borderColor);
}
header .top-header .inner-top-header{
  flex: 0 1 1500px;
  padding: 6px 30px;
}
header nav{
  display: flex;
  justify-content: center;
}
header nav .inner-nav{
  flex: 0 1 1500px;
  padding: 5px 30px;
}
/* top-header */
.top-header .inner-top-header{
  display: flex;
  justify-content: right;
  align-items: center;
}
.top-header .inner-top-header h2.mobile-logo{
  display: none;
  flex: 0 0 143px;
}
.top-header .inner-top-header h2.mobile-logo a{
  display: block;
  width: 100%;
  height: auto;
}
.top-header .inner-top-header h2.mobile-logo img{
  display: block;
  width: 100%;
  height: auto;
}
.top-header .inner-top-header .short-menu{
  display: flex;
}
.top-header .inner-top-header .short-menu form{
  display: flex;
  gap: 4px;
  border: none;
}
.top-header .inner-top-header .short-menu form label{
  font-size: 0;
  height: 0;
}
.top-header .inner-top-header .short-menu form input{
  width: 260px;
  height: 36px;
  padding: 5px 10px;
  border-radius: 30px;
  border: 1px solid #CFCFCF;
}
.top-header .inner-top-header .short-menu form button{
  display: block;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background: url("../../img/icons/icon-srch.svg") no-repeat center / auto;
  background-color: var(--main-blueColor);
  cursor: pointer;
}
.top-header .inner-top-header .short-menu ul.icons_ul{
  display: flex;
  align-items: center;
}
.top-header .inner-top-header .short-menu ul.icons_ul li{
  width: 24px;
  height: 24px;
  margin-left: 20px;
  cursor: pointer;
}
.top-header .inner-top-header .short-menu ul.icons_ul li a{
  display: block;
  width: 100%;
  height: inherit;
}
.top-header .inner-top-header .short-menu ul.icons_ul li.mobile-icon{
  display: none;
}
.top-header .inner-top-header .short-menu ul.icons_ul li:nth-child(1){
  background: url("../../img/icons/icon-srch-blk.svg") no-repeat center / auto;
}
.top-header .inner-top-header .short-menu ul.icons_ul li:nth-child(2){
  background: url("../../img/icons/icon-my.svg") no-repeat center / auto;
}
.top-header .inner-top-header .short-menu ul.icons_ul li:nth-child(3) .menu-icon{
  width: 100%;
  height: inherit;
  position: relative;
}
.top-header .inner-top-header .short-menu ul.icons_ul li:nth-child(3) .menu-icon .menu-bar{
  display: block;
  width: 24px;
  height: 2px;
  background-color: #111;
  position: absolute;
  left: 0;
  font: 0 / 0 a;
  color: transparent;
  text-shadow: none;
  border: 0;
  transition: all 0.3s ease-in-out;
}
.top-header .inner-top-header .short-menu ul.icons_ul li:nth-child(3) .menu-icon .top{
  top: 0;
}
.top-header .inner-top-header .short-menu ul.icons_ul li:nth-child(3) .menu-icon .middle{
  top: 50%;
  transform: translateY(-50%);
}
.top-header .inner-top-header .short-menu ul.icons_ul li:nth-child(3) .menu-icon .bottom{
  bottom: 0;
}
/* bottom-header: nav */
nav .inner-nav{
  display: flex;
  justify-content: space-between;
}
nav .inner-nav h1{
  flex: 0 0 185px;
}
nav .inner-nav h1 a{
  display: block;
  width: 100%;
  height: auto;
}
nav .inner-nav h1 a img{
  display: block;
  width: 100%;
  height: auto;
}
nav .inner-nav .gnb{
  flex: 0 1 368px;
}
nav .inner-nav .gnb ul{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav .inner-nav .gnb ul li a{
  font-weight: 700;
  line-height: 60px;
}
nav .inner-nav .menu-btn{
  display: flex;
  justify-content: right;
  align-items: center;
  flex: 0 0 185px;
  height: 60px;
}
nav .inner-nav .menu-btn .menu-icon{
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}
nav .inner-nav .menu-btn .menu-icon span.menu-bar{
  display: block;
  width: 24px;
  height: 2px;
  position: absolute;
  left: 0;
  text-shadow: none;
  border: 0;
  background-color: #111;
  font: 0 / 0 a;
  color: transparent;
  transition: all 0.3s ease-in-out;
}
nav .inner-nav .menu-btn .menu-icon span.top{
  top: 0;
}
nav .inner-nav .menu-btn .menu-icon span.middle{
  top: 50%;
  transform: translateY(-50%);
}
nav .inner-nav .menu-btn .menu-icon span.bottom{
  bottom: 0;
}
.middlebar_off{
  display: none !important;
}
/* lnb */
.lnb{
  display: none;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 119px;
  width: 100%;
  border: 1px solid var(--main-borderColor);
  background-color: #fff;
}
.lnb ul.depth1_ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 1 1500px;
  padding: 40px 0;
}
.lnb ul.depth1_ul li.depth1_li{
  flex: 1;
  padding: 0 30px;
}
.lnb ul.depth1_ul li.depth1_li:not(:last-child){
  border-right: 1px solid var(--main-borderColor);
}
.lnb ul.depth1_ul li.depth1_li > a{
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  color: var(--main-blackColor);
}
.lnb ul.depth1_ul li.depth1_li > a::after{
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../img/icons/swiper-button.svg") no-repeat center / auto;
}
.lnb ul.depth1_ul li.depth1_li ul.depth2_ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lnb ul.depth1_ul li.depth1_li ul.depth2_ul li.depth2_li{
  flex: 0 0 33.3333%;
}
.lnb ul.depth1_ul li.depth1_li ul.depth2_ul li.depth2_li a{
  font-size: 16px;
  line-height: 30px;
  color: #666;
}
/*tablet nd mobile*/
@media only screen and (max-width: 768px) {
  /* top-header */
  header .top-header{
    border-bottom: none;
  }
  .top-header .inner-top-header{
    justify-content: space-between;
  }
  .top-header .inner-top-header h2.mobile-logo{
    display: block;
  }
  .top-header .inner-top-header .short-menu form{
    display: none;
  }
  .top-header .inner-top-header .short-menu ul.icons_ul li.mobile-icon{
    display: block;
  }
  .top-header .inner-top-header .short-menu ul.icons_ul li:nth-child(3){
    display: flex;
    align-items: center;
  }
  /* nav */
  #nav{
    display: none;
  }
  /* lnb */
  .lnb{
    top: 58px;
  }
  .lnb ul.depth1_ul{
    display: block;
  }
  .lnb ul.depth1_ul li.depth1_li{
    padding: 20px 30px;
    width: 100%;
  }
  .lnb ul.depth1_ul li.depth1_li:not(:last-child){
    border-right: none;
  }
  .lnb ul.depth1_ul li.depth1_li ul.depth2_ul li.depth2_li{
    flex: 0 0 50%;
  }
}