/* layout */
main{
  width: 100%;
  height: auto;
}
main section{
  display: flex;
  justify-content: center;
}
main section .inner-con{
  flex: 0 1 1500px;
  padding: 0 30px;
}
h2{
  font-size: 2rem;
  font-weight: 700;
}
/* section1: main banner */
section.hero-banner{
  width: 100%;
  overflow: hidden;
}
section.hero-banner .sec-con{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
section.hero-banner .sec-con .banner-img{
  width: calc(700% + 80px * 6);
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
}
section.hero-banner .sec-con .banner-img ul{
  display: flex;
  width: 100%;
  gap: 80px;
}
section.hero-banner .sec-con .banner-img ul li{
  flex: 0 1 1440px;
}
section.hero-banner .sec-con .banner-img ul li a{
  display: block;
  width: 100%;
  height: auto;
}
section.hero-banner .sec-con .banner-img ul li a img{
  display: block;
  width: 100%;
  height: auto;
}
section.hero-banner .sec-con .banner-img ul li a .mobile-ver{
  display: none;
}
/* section1: main banner  - slide count*/
section.hero-banner .sec-con .slide-count{
  display: flex;
  width: 100%;
  justify-content: right;
  padding: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}
section.hero-banner .sec-con .slide-count .count-inner{
  display: flex;
  flex:  0 0 70px;
  background-color: #0000005e;
  border-radius: 30px;
}
section.hero-banner .sec-con .slide-count .count-inner span{
  display: block;
  width: 35px;
  height: 30px;
  font-size: 0.8rem;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
section.hero-banner .sec-con .slide-count .count-inner span.current-num{
  position: relative;
}
section.hero-banner .sec-con .slide-count .count-inner span.current-num::after{
  content: "";
  width: 1px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-borderColor);
}
/* section1: main banner  - web arrow btn*/
section.hero-banner .sec-con .slide-arrows{
  display: flex;
  width: 103%;
  height: 44px;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
section.hero-banner .sec-con .slide-arrows span{
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../../img/icons/swiper-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0.25rem 1.5rem 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
section.hero-banner .sec-con .slide-arrows .left-arrow{
  transform: scaleX(-1);
}
/* section1: main banner  - mobile slide dot*/
section.hero-banner .sec-con .slide-dot{
  display: none;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 16px;
  left: 0;
}
section.hero-banner .sec-con .slide-dot ul{
  display: flex;
  gap: 10px;
}
section.hero-banner .sec-con .slide-dot ul li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-borderColor);
  cursor: pointer;
}
.slide-on{
  background-color: var(--main-blueColor) !important;
}
/* section2 */
section.short-menu{
  margin: 1.5rem 0 3.5rem;
}
section.short-menu .inner-con ul{
  display: flex;
  justify-content: space-between;
}
section.short-menu .inner-con ul li{
  flex: 0 1 150px;
  border-radius: 1.3rem;
}
section.short-menu .inner-con ul li:hover{
  box-shadow: 0 0.25rem 1.5rem 0 rgba(0, 0, 0, 0.1);
}
section.short-menu .inner-con ul li a{
  display: block;
  width: 100%;
  height: auto;
  padding: 10% 0;
}
section.short-menu .inner-con ul li a img{
  display: block;
  width: 42%;
  height: auto;
  margin: 0 auto;
}
section.short-menu .inner-con ul li a p{
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
}
/* section3 - title */
section.mega-pick h2{
  line-height: 2.4rem;
}
/* section.mega-pick - hashtag */
.hashtag{
  margin: 1.1rem 0;
}
.hashtag .hashtag-box{
  display: flex;
  justify-content: space-between;
}
.hashtag .hashtag-box .hashtag-list{
  flex: 0 1 90%;
  overflow-x: scroll;
  scrollbar-width: none;
}
.hashtag .hashtag-box .hashtag-list::-webkit-scrollbar{
  display: none;
}
.hashtag .hashtag-box .hashtag-list ul{
  display: flex;
  gap: 10px;
}
.hashtag .hashtag-box .hashtag-list ul li{
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 1.3rem;
  border: 1px solid var(--main-borderColor);
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--main-blackColor);
  cursor: pointer;
}
.hashtag .hashtag-box .hashtag-btn{
  display: flex;
  flex: 0 0 10%;
  justify-content: right;
  gap: 10px;
}
.hashtag .hashtag-box .hashtag-btn span{
  display: block;
  flex: 0 0 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  box-shadow: 0 0.25rem 1.5rem 0 rgba(0, 0, 0, 0.1);
  background: url("../../img/icons/swiper-button.svg") no-repeat center / 18px;
  background-color: #fff;
  cursor: pointer;
}
.hashtag .hashtag-box .hashtag-btn span.left-hashtag-arrow{
  transform: scaleX(-1);
}
/* section3 - product list */
section.mega-pick .product-slider{
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
}
section.mega-pick .product-slider::-webkit-scrollbar{
  display: none;
}
section.mega-pick .product-slider ul{
  display: flex;
  width: 150.6944%;
  gap: 20px;
}
section.mega-pick .product-slider ul li{
  flex: 0 1 345px;
}
section.mega-pick .product-slider ul li a{
  display: block;
  width: 100%;
  height: auto;
}
section.mega-pick .product-slider ul li a .product-thum{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20.8333vw;
  border-radius: 1rem;
  background-color: var(--main-backColor);
}
section.mega-pick .product-slider ul li a .product-thum img{
  display: block;
  width: 52%;
  height: auto;
}
section.mega-pick .product-slider ul li a p{
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/* section3 - scroll bar */
section.mega-pick .scroll{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.scroll .scroll-bar{
  flex: 0 0 90%;
  height: 4px;
  background-color: var(--main-borderColor);
}
.scroll .scroll-bar .current-scroll{
  width: 50%;
  height: inherit;
  background-color: var(--main-blackColor);
}
.scroll .scroll-btn{
  display: flex;
  gap: 1.2rem;
}
.scroll .scroll-btn span{
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  background: url("../../img/icons/swiper-button-line.svg") no-repeat center / 1.8rem;
  cursor: pointer;
}
.scroll .scroll-btn span.left-arrow{
  transform: scaleX(-1);
}
.mobile-more{
  display: none;
  justify-content: center;
  margin: 10px 0 0 0;
}
.mobile-more span{
  border: 1px solid var(--main-borderColor);
  border-radius: 10px;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--main-blackColor);
  cursor: pointer;
}
/* section4 */
section.strip-banner{
  padding-top: 7.5rem;
}
section.strip-banner .inner-con a{
  display: block;
  width: 100%;
}
section.strip-banner .inner-con a img{
  display: block;
  width: 100%;
  height: auto;
}
section.strip-banner .inner-con a img.mobile-ver-banner{
  display: none;
}
/* section5*/
section.best{
  position: relative;
  padding: 7.5rem 0 0;
  margin: 0 0 7.5rem;
}
/* section5 - back*/
section.best .back{
  width: 38%;
  height: calc(100% - 5rem);
  /* height: 788px; */
  position: absolute;
  left: 0;
  top: 7.5rem;
  z-index: -1;
  border-radius: 0 100px 100px 0;
  background-color: #d5e9fc;
}
section.best .back::before{
  content: "";
  display: block;
  width: inherit;
  height: 7.5rem;
  background-color: #d5e9fc;
  position: absolute;
  left: 0;
  bottom: -7.5rem;
}
section.best .back::after{
  content: "";
  display: block;
  width: inherit;
  height: 7.5rem;
  position: absolute;
  left: 0;
  bottom: -7.5rem;
  border-radius: 200px 0 0 0;
  background-color: #ffffff;
}
/* section5 - title */
section.best .title{
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem 0;
}
section.best .title ul{
  display: flex;
  gap: 1.4rem;
}
section.best .title ul li{
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.1rem;
  cursor: pointer;
}
.sec5-on{
  color: var(--main-blueColor);
}
.sec5-on::after{
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  margin: 4px auto 0;
  border-radius: 50%;
  background-color: var(--main-blueColor);
}
/* section5 - slider */
section.best .product-slider{
  width: 100%;
  position: relative;
}
section.best .product-slider .slider-frame{
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
}
section.best .product-slider .slider-frame::-webkit-scrollbar{
  display: none;
}
section.best .product-slider .slider-frame ul{
  width: 200%;
  display: flex;
  gap: 0;
}
section.best .product-slider .slider-frame ul li{
  flex: 0 1 480px;
  padding: 0 20px;
}
section.best .product-slider .slider-frame ul li a{
  display: block;
  width: 100%;
  height: auto;
}
section.best .product-slider .slider-frame ul li a .best-thum{
  display: flex;
  justify-content: center;
  align-items: center;
}
section.best .product-slider .slider-frame ul li a .best-thum img{
  display: block;
  width: 58%;
  height: 390px;
  object-fit: contain;
}
section.best .product-slider .slider-frame ul li a .best-info{
  margin: 1.7rem 0 0.5rem;
}
section.best .product-slider .slider-frame ul li a .best-info p{
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
section.best .product-slider .arrows{
  width: 100%;
  max-width: calc(100% / 3  + 2.2rem);
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
section.best .product-slider .arrows span.sec5-arrow{
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  box-shadow: 0 0.25rem 1.5rem 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  background-image: url("../../img/icons/swiper-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40% auto;
}
section.best .product-slider .arrows span.left-arrow{
  transform: scaleX(-1);
}
/* section5 - scroll */
section.best .scroll-bar{
  width: 60%;
  height: 4px;
  margin: 1rem auto;
  background-color: var(--main-borderColor);
}
section.best .scroll-bar .current-scroll{
  width: 50%;
  height: inherit;
  background-color: var(--main-blackColor);
}
/* section6 */
section.mega-youtube .inner-con .title{
  display: flex;
  justify-content: space-between;
}
section.mega-youtube .inner-con .title .arrow-btn{
  display: flex;
  gap: 24px;
}
section.mega-youtube .inner-con .title .arrow-btn span{
  display: block;
  width: 36px;
  height: 36px;
  background: url("../../img/icons/swiper-button-line.svg") no-repeat center;
  font: 0 / 0 a;
  color: transparent;
  text-shadow: none;
  cursor: pointer;
}
section.mega-youtube .inner-con .title .arrow-btn span.left-arrow{
  transform: scaleX(-1);
}
section.mega-youtube .inner-con .title .arrow-btn span.inactive{
  opacity: 0.4;
}
section.mega-youtube .inner-con .slider-con{
  width: 100%;
  padding-top: 1.6rem;
  overflow: hidden;
}
section.mega-youtube .inner-con .slider-con ul{
  display: flex;
  gap: 30px;
  width: 161.25%;
  transition: all 0.3s ease-in-out;
}
section.mega-youtube .inner-con .slider-con ul li{
  flex: 1;
}
section.mega-youtube .inner-con .slider-con ul li a{
  display: block;
  width: 100%;
  height: auto;
}
section.mega-youtube .inner-con .slider-con ul li a img{
  display: block;
  width: 100%;
  height: auto;
}
section.mega-youtube .inner-con .more-btn{
  display: none;
  justify-content: center;
}
section.mega-youtube .inner-con .more-btn button{
  flex: 0 0 120px;
  padding: 0.4rem 1rem;
  margin-top: 10px;
  border-radius: 1rem;
  border: 1px solid var(--main-borderColor);
  line-height: 1.3;
  background-color: #fff;
  cursor: pointer;
}
/* section7 */
section.event{
  padding-top: 7.5rem;
}
section.event .inner-con{
  display: flex;
  justify-content: space-between;
}
section.event .inner-con .title a{
  margin: 30px 0;
  display: flex;
  gap: 4px;
  align-items: center;
}
section.event .inner-con .title a span.txt{
  font-size: 0.8rem;
  font-weight: 600;
}
section.event .inner-con .title a span.arrow-img{
  width: 20px;
  height: 20px;
  background: url("../../img/icons/view-more.svg") no-repeat center / auto;
}
section.event .inner-con .events-box{
  flex: 0 1 1058px;
  overflow: hidden;
}
section.event .inner-con .events-box ul{
  width: 100%;
  display: flex;
  gap: 20px;
}
section.event .inner-con .events-box ul li{
  flex: 1;
}
section.event .inner-con .events-box ul li a{
  display: block;
}
section.event .inner-con .events-box ul li a .event-title span{
  display: inline-block;
  padding: 0.4rem 0.75rem;
  border-radius: 0.4rem;
  border: 1px solid var(--main-blackColor);
}
section.event .inner-con .events-box ul li a .event-title strong{
  display: block;
  margin: 0.6rem 0 1.3rem;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
section.event .inner-con .events-box ul li a img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
/* section8 */
section.notice{
  padding-top: 7.5rem;
}
section.notice .inner-con h2{
  text-align: center;
}
section.notice .inner-con ul{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 1.6rem 0;
}
section.notice .inner-con ul li{
  flex: 1;
}
section.notice .inner-con ul li a{
  display: block;
  width: 100%;
  height: auto;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--main-backColor);
}
section.notice .inner-con ul li a p{
  font-size: 0.8rem;
  text-align: center;
  color: #666;
}
section.notice .inner-con ul li a p strong{
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
  margin-bottom: 0.4rem;
  color: var(--main-blackColor);
}
/* section9 */
section.community{
  padding: 7.5rem;
}
section.community .inner-con h2{
  text-align: center;
}
section.community .inner-con ul{
  display: flex;
  gap: 1rem;
  padding: 1.6rem 0;
  flex-wrap: wrap;
}
section.community .inner-con ul li{
  flex: 0 1 210px;
  padding: 1rem 0.8rem;
  border-radius: 1rem;
  border:  1px solid var(--main-borderColor);
  background-position: left 0.8rem center;
  background-repeat: no-repeat;
  background-size: 1.1rem;
}
section.community .inner-con ul li.insta{
  background-image: url("../../img/icons/icon-insta.svg");
}
section.community .inner-con ul li.ytb{
  background-image: url("../../img/icons/icon-ytb.svg");
}
section.community .inner-con ul li.ncafe{
  background-image: url("../../img/icons/icon-ncafe.svg");
}
section.community .inner-con ul li:hover{
  border:  1px solid var(--main-blackColor);
  box-shadow: 0 0.25rem 1.5rem 0 rgba(0, 0, 0, 0.1);
}
section.community .inner-con ul li a{
  display: block;
  width: 100%;
  height: auto;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.1rem;
  background: url("../../img/icons/swiper-button.svg") no-repeat right center / 1rem;
  padding-left: 1.6rem;
}
section.community .inner-con ul li a::after{
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 1280px) {
  section.event .inner-con{
    flex-wrap: wrap;
    overflow: hidden;
  }
  section.event .inner-con .title{
    display: flex;
    flex: 0 1 100%;
    justify-content: space-between;
    align-items: center;
  }
  section.hero-banner{
    padding: 0 20px;
  }
  section.hero-banner .sec-con{
    flex: 0 1 100vw;
    overflow: hidden;
  }
  section.hero-banner .sec-con .banner-img{
    width: 700%;
  }
  section.hero-banner .sec-con .banner-img ul{
    gap: 0;
  }
}
@media only screen and (max-width: 768px) {
  /* layout */
  main section .inner-con{
    flex: 0 1 768px;
  }
  /* tablet - sec1 */
  section.hero-banner .sec-con .banner-img ul li a .web-ver{
    display: none;
  }
  section.hero-banner .sec-con .banner-img ul li a .mobile-ver{
    display: block;
  }
  section.hero-banner .sec-con .slide-count{
    display: none;
  }
  section.hero-banner .sec-con .slide-arrows{
    display: none;
  }
  section.hero-banner .sec-con .slide-dot{
    display: flex;
  }
  /* tablet - sec2 */
  section.short-menu .inner-con ul li{
    flex: 0 1 118px;
    border-radius: 0.8rem;
  }
  section.short-menu .inner-con ul li a p{
    font-size: 0.857rem;
    word-break: keep-all;
  }
  /* tablet - sec3 */
  .hashtag .hashtag-box{
    justify-content: left;
  }
  .hashtag .hashtag-box .hashtag-list{
    flex: 0 0 100%;
  }
  .hashtag .hashtag-box .hashtag-list ul{
    display: flex;
    gap: 5px;
  }
  .hashtag .hashtag-box .hashtag-list ul li{
    flex: 0 0 auto;
    padding: 0.5rem;
  }
  .hashtag .hashtag-box .hashtag-btn{
    display: none;
  }
  section.mega-pick .product-slider ul{
    width: 302.8248%;
    gap: 10px;
  }
  section.mega-pick .product-slider ul li{
    flex: 0 1 349px;
  }
  section.mega-pick .product-slider ul li a .product-thum{
    height: calc((100vw - 80px) / 2);
  }
  .scroll .scroll-bar{
    flex: 0 0 100%;
  }
  .scroll .scroll-btn{
    display: none;
  }
  /* tablet - sec4 */
  section.strip-banner{
    padding-top: 4rem;
  }
  section.strip-banner .inner-con a img.mobile-ver-banner{
    display: block;
  }
  section.strip-banner .inner-con a img.web-ver-banenr{
    display: none;
  }
  /* tablet - sec5 */
  section.best .inner-con{
    overflow: hidden;
  }
  section.best .back{
    width: 45%;
    top: 7.5rem;
    border-radius: 0 3rem 3rem 0;
  }
  section.best .title{
    justify-content: space-between;
    gap: 0;
  }
  section.best .title ul{
    gap: 0.8rem;
  }
  section.best .product-slider{
    width: 100vw;
    left: -30px;
  }
  section.best .product-slider .slider-frame ul{
    width: 308.4745%;
  }
  section.best .product-slider .slider-frame ul li{
    flex: 0 1 364px;
    padding: 0 10px;
  }
  section.best .product-slider .slider-frame ul li a .best-thum{
    height: 48vw;
  }
  section.best .product-slider .slider-frame ul li a .best-thum img{
    width: 63%;
    height: 300px;
  }
  section.best .product-slider .arrows{
    display: none;
  }
  section.best .scroll-bar{
    width: 100%;
  }
  /* tablet - sec6 */
  section.mega-youtube .inner-con .slider-con ul{
    gap: 10px;
    width: calc((1790 / 708) * 100%);
  }
  /* tablet - sec7 */
  section.event{
    padding-top: 4rem;
  }
  section.event .inner-con .events-box{
    flex: 0 0 calc(100vw - 30px);
    overflow-x: scroll;
    scrollbar-width: none;
  }
  section.event .inner-con .events-box::-webkit-scrollbar{
    display: none;
  }
  section.event .inner-con .events-box ul{
    width: calc((1220 / 738) * 100%);
    gap: 10px;
  }
  /* tablet - sec8 */
  section.notice{
    padding-top: 4rem;
  }
  section.notice .inner-con ul{
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  section.notice .inner-con ul li{
    flex: 0 1 100%;
  }
  /* tablet - sec9 */
  section.community{
    padding: 4rem 0;
  }
  section.community .inner-con ul{
    gap: 10px 2%;
  }
  section.community .inner-con ul li{
    flex: 0 1 49%;
  }
}
@media only screen and (max-width: 414px) {
  /* layout */
  main section .inner-con{
    flex: 0 1 414px;
  }
  /* mobile - sec1 */
  section.hero-banner .sec-con .slide-dot ul li{
    width: 6px;
    height: 6px;
  }
  /* mobile - sec3 */
  section.mega-pick .product-slider ul{
    width: 100%;
    gap: 0;
    flex-wrap: wrap;
  }
  section.mega-pick .product-slider ul li{
    flex: 0 0 50%;
    padding: 0 5px 10px;
  }
  section.mega-pick .product-slider ul li:not(.mobile-list){
    display: none;
  }
  section.mega-pick .scroll{
    display: none;
  }
  .mobile-more{
    display: flex;
  }
  /* mobile - sec5 */
  section.best .product-slider .slider-frame ul li a .best-thum img{
    width: 56%;
    height: 145px;
  }
  section.best .product-slider .slider-frame ul li a .best-info{
    margin: 1rem 0 0.5rem;
  }
  /* mobile - sec6 */
  section.mega-youtube .inner-con .title .arrow-btn{
    display: none;
  }
  section.mega-youtube .inner-con .slider-con{
    width: 100%;
  }
  section.mega-youtube .inner-con .slider-con ul{
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
  }
  section.mega-youtube .inner-con .slider-con ul li{
    flex: 0 1 100%;
  }
  section.mega-youtube .inner-con .slider-con ul li:nth-child(3){
    display: none;
  }
  section.mega-youtube .inner-con .slider-con ul li:nth-child(4){
    display: none;
  }
  section.mega-youtube .inner-con .more-btn{
    display: flex;
  }
  /* mobile - sec7 */
  section.event .inner-con .events-box{
    flex: 0 1 100%;
    overflow: hidden;
  }
  section.event .inner-con .events-box ul{
    width: 100%;
    flex-wrap: wrap;
  }
  section.event .inner-con .events-box ul li{
    flex: 0 1 calc((100% - 10px) / 2);
  }
  section.event .inner-con .events-box ul li a{
    display: flex;
    flex-direction: column-reverse;
  }
  section.event .inner-con .events-box ul li a .event-title span{
    padding: 0.2rem 0.5rem;
  }
  section.event .inner-con .events-box ul li a img{
    margin: 0 0 10px;
  }
  /* mobile - sec9 */
  section.community .inner-con ul{
    gap: 10px 2%;
    flex-wrap: wrap;
  }
  section.community .inner-con ul li{
    padding: 1rem 0.5rem;
    background-position: left 0.5rem center;
  }
}